.grid{
    display: grid;
    max-width: 360px;
    margin: 0 auto;
    background-color: grey;
    grid-template-columns: 80px auto;
}

.grid .timeline .time-segment{
  border: 1px solid green;
}

.slots{
  position: relative;
}

.slots .slot-item{
  
  position: absolute;
  width: 100%;
  padding: 1px;
}

.slots .slot-item:hover{
  z-index: 10000;
}

.slots .slot-item .content{
  background-color: thistle;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

